blockquote {
  background: #eee;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  color:#888;
  display: block;
  text-align: right;
}

blockquote p:before {
  content: "\2014";
}

pre {
  padding-left:100px;
}

.attention {
  background: #fa8;
  border-radius: 10px;
  font-weight: bold;
  padding: 10px;
}

.attention:before {
  content: '/!\\';
  font-size: 150%;
  text-decoration: underline;
}
